.SignIn {
  background-image: linear-gradient(30deg, #201b20, #42232c);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__Wrapper {
    width: 340px;
    background-image: url("../../assets/SignIn/background.jpg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
    border-radius: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 48px 32px;
    position: relative;
    z-index: 0;

    &__Layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0d212ff5;
      border-radius: 1rem;
      z-index: -1;
    }

    &__Title {
      font-size: 2rem;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  @media screen and (max-width: 768px) {
    &__Wrapper {
      width: 100%;
      height: 100%;
      justify-content: center;
      
    }
  }
}