@import "../../constants/styles/colors";

.CustomInput {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__Input {
    width: calc(100% - 40px);
    font-size: 1rem;
    font-family: inherit;
    height: 48px;
    border: 2px solid $primary_color;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    transition: 0.3s;
    padding: 0 20px;
    background-color: transparent;
    color: white;

    &:hover {
      border: 2px solid $primary_lighter_color;
    }
  }
}
