@import "../../constants/styles/colors";

.CustomButton {
  background-color: $primary_color;
  color: white;
  border: none;
  min-width: 200px;
  height: 48px;
  border-radius: 24px;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: rgba(141, 54, 54, 0.158) 0px 13px 27px -5px, rgba(255, 0, 0, 0.3) 0px 8px 16px -8px;

  &:hover {
    background-color: $primary_darker_color;
  }
}