@import "../../../constants/styles/colors";

.PlanetPreview {
  margin-top: 8px;
  background-color: $popup_color;
  padding: 20px 40px;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;

  &__Texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;

    &__Name {
      color: #ff0432;
      margin-bottom: 0;
    }

    &__Label {
      font-size: 1.1rem;
      color: white;
      margin-bottom: 8px;
    }

    &__Value {
      font-size: 1rem;
      color: #c2b7b7;
      margin-top: 0;
    }
  }

  &__Planet {
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    background: 
      url(https://i.stack.imgur.com/3SLqF.jpg)
      0/auto 100%;
    animation: spin 12s linear infinite;
    max-width: 100vw;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 20px;

    &__Texts {
      margin: 0;
    }

    &__Planet {
      margin-top: 8px;
    }
  }
}

@keyframes spin {
  to {
    background-position: 200% 0;
  }
}