.Home {
  background-color: #0d212f10;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 24px;

  &__Toolbar {
    display: flex;
    justify-content: space-between;

    &__Title {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    &__Actions {
      display: flex;
      align-items: center;
    }
  }

  &__Planets {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Empty {
      font-size: 1.2rem;
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 768px) {    
    &__Toolbar {
      flex-direction: column;
      margin-bottom: 4px;

      &__Title {
        font-size: 1.05rem;
        margin: 12px 0 8px 0;
      }
    }
  }
}